<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img src="{% static 'home/landscape01.png' %}" style="width:200px;height:200px;" alt="centered image">
</p>
<p>Lorem ipsum dolor sit amet, ut est autem molestiae, no nam quem ferri. Porro etiam reformidans mea at, justo nostro mea ut. Ne ludus melius inimicus usu. At everti salutandi est. Per enim aperiri ne, alia elit tempor eu cum.

Has mucius quodsi animal te, in qui quod expetendis. Civibus perpetua appellantur et est, ei has dicam debitis, labores pertinacia ad duo. Facer tacimates dissentias et pri. An quod audiam indoctum duo, congue consul id his. Sed ne diam harum, possim oportere per at. Ea his mnesarchum comprehensam, posidonium dissentiunt per no.

Pro nominavi reformidans ad, soleat invidunt te vel, ex pro oblique delicata efficiantur. Elitr animal suscipit duo ex. Id dico forensibus vim, ne duo prima convenire assueverit. Verear luptatum </p>

</body>
</html>