<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="{% static 'home/landscape.png' %}" style="width:200px;height:200px;" alt="centered image">
<img src="{% static 'home/landscape01.png' %}" style="width:200px;height:200px;" alt="centered image">
<img src="{% static 'home/sunset01.png' %}" style="width:200px;height:200px;" alt="centered image">
<img src="{% static 'home/sunset02.png' %}" style="width:200px;height:200px;" alt="centered image">
<img src="{% static 'home/sunset03.png' %}" style="width:200px;height:200px;" alt="centered image">
<img src="{% static 'home/sunset04.png' %}" style="width:200px;height:200px;" alt="centered image">


</body>
</html>